
/*==========  Mobile First Method  ==========*/
/********

- Header
- Members
- Projects
- Software
- Contacts
- News
	- Right Sidebar
- Footer

********/

/*** HEADER ***/
/*** HEADER ***/
body > header{
	height: 101px;
	z-index: 999;
}
header nav.container{
	padding: 0;
	height: 101px;
	padding-top: 26px;
}
.navbar {
    position: relative;
    height: 101px;
}
.container>.navbar-header{
    margin: 0;
}
.no-js .navbar-collapse:target {
    display: block;
    visibility: visible;
}
.no-js .navbar-collapse:target .navbar-nav {
    position: relative;
    z-index: 9998;
}
.no-js .navbar-collapse-close,
.navbar-collapse-close {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9997;
    background-color: rgba(255,255,255,0.5);
    font-size: 0px;
    color: transparent;
}
.no-js .navbar-collapse-close:focus {
    display: block;
    font-size: 24px;
    color: black;
    background-color: rgba(100,100,255,0.25);
    z-index: 9999;
    padding: 100px;
    text-align: center;
    text-decoration: none;
}
.no-js .navbar-collapse:target .navbar-collapse-close {
    display: block;
}
.site-title {
	font-size: 0;
    margin: 0;
    background: url("../img/logo-clp-lab.png") center left no-repeat;
    background-size: 240px 42px;
    width: 240px;
    height: 42px;
    margin-left: 10px;
}
.navbar-default{
	background-color: #fcfcfc;
	border: none;
	margin-bottom: 0;
}
#primary-nav{
    padding: 26.5px 0;
}
#primary-nav #navbar-collapse{
    padding: 8px 0;
}
#primary-nav{
    padding: 26.5px 0;
}
#primary-nav #navbar-collapse{
    padding: 8px 0;
}
#primary-nav ul {
	list-style:none;
	position:relative;
	float:right;
	margin:0;
	padding:0;
	z-index:9999;
}
#primary-nav ul li{
    display: block;
    width: 100%;
    text-align: center;
	position:relative;
	float:left;
	margin:0;
	padding:0;
	padding:0 5px;
}
#primary-nav  ul li.current-menu-item > a {
	box-shadow: inset 0px -2px 0px 0px #8BCB12;
}
#primary-nav ul li:first-child{
	padding-left: 0;
}
#primary-nav ul li:last-child{
	padding-right: 0;
}
#primary-nav ul a {
	display:block;
	color:#333;
	text-decoration:none;
	font-size:17px;
	line-height:32px;
	transition: box-shadow .5s;
}
#primary-nav ul a:hover {
	box-shadow: inset 0px -2px 0px 0px #8BCB12;
}
#primary-nav li > a:only-child:after { margin-left: 0; content: ''; }
#primary-nav li > a:after { 
	font-family: FontAwesome; 
	color: #6f6f6f;
	margin-left: 3px; 
	content: '\f107'; 
}
#primary-nav ul li ul{
    display: none;
}
#primary-nav ul ul {
	visibility: hidden;
	opacity: 0;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0;
	transition: opacity .3s linear;
	box-shadow: 4px 4px 10px -7px #777;
}
#primary-nav ul ul li {
	text-align: left;
	float:none;
	padding: 0px;
	width:200px;
}
#primary-nav ul ul a {
	line-height:120%;
	padding:10px 15px;
}
#primary-nav ul li:hover > ul {
	visibility: visible;
  	opacity: 1;
}

/*** MEMBERS ***/
.member-card{
	margin: auto;
	width: 228px;
	height: 245px;
	background-color: #fcfcfc;
	text-align: center;
	box-shadow: 5px 5px 10px #B7B7B7, inset 0px 0px 0px 2px #8bcb12;
    margin-top: 53px;
    margin-bottom: 20px;
}
.member-card figure{
	position: relative;
	top: -70px;
}
.member-card img{
	border-radius: 100%;
	margin: 0 auto;
    box-shadow: 0px 0px 10px #B7B7B7;
}
.member-card .shadow{
	box-shadow: inset 0 0 50px #1f1f1f;
 	position: absolute;
    width: 180px;
    margin: 0 24px;
    height: 100%;
    border-radius: 100%;
    top:0;
    left: 0;
    opacity: 0;
	transition: opacity .5s ease;
}
.member-card:hover .shadow{
	opacity: 1;
}
.member-card h3{
	font-size: 20px;
	font-family: "SourceSansPro";
	font-weight: 600;
	font-style: italic;
	position: relative;
	top: 160px;
	margin-top: 0px;
	margin-bottom: 5px;
	transition: font-style .5s ease;
}
.member-card .fa{
	transition: color .5s;
	font-size: 2.6em;
    margin: 0 4px;
}
.member-card .social-icons{
	top: -20px;
	position: relative;
}
.member-card .fa-twitter:hover { color:#55acee; }
.member-card .fa-facebook-official:hover { color:#3b5998; }
.member-card .fa-globe:hover{ color:#000; }

/*** PROJECTS ***/
.projects-wrapper .main-project-container {
	display: block;
	position: relative;
	border-bottom: 1px solid white;
	color: white;
}

.projects-wrapper .main-project-container h2 {
	font-family: Orbitron;
	font-weight: bold;
	color:white;
	margin:0;
	position:relative;
	font-size:5.5vw;
	text-align: center;
}

.projects-wrapper .main-project-container h3 {
	font-family: SourceSansPro;
	font-style: italic;
	font-weight: 600;
	color:#f4f4f4;
	margin:0;
	position: relative;
	font-size: 3.8vw;
    line-height: 3.8vw;
	text-align: center;
}

#indamgncs-2015 {background-color: #56daec;}
#indamgncs-2014 {background-color: #b4d8e7;}
#indamgncs-2011 {background-color: #b0e57c;}
#indamgncs-2010 {background-color: #ffec94;}
#indamgncs-2005 {background-color: #ff8a8a;}


.projects-wrapper .main-project-container .container .col-md-12 { 
	padding: 20px 0;
}

/*** SOFTWARE ***/
#software .intro{
	font-size: 2em;
	color: #6f6f6f;
	text-align: center;
	font-family: Orbitron;
}
#software ul.tree-ul{
	padding: 0;
	padding-top: 30px;
	padding-left: 60px;
    width: 100%;
    background: url('../img/vertical-arrow.png') top left;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
#software ul.tree-ul li:first-child a span{
	color: #6f6f6f;
}
#software ul.tree-ul li a{
	text-decoration: none;
    font-size: 2.3em;
    font-weight: 600;
    color: #8BCB12;
    background-color: transparent;
    line-height: 1.2em;
}
#software ul.tree-ul li a span{
	text-shadow: 2px 2px 0px #CCCCCC;
	color: #000;
}
#software ul.tree-ul li a:hover{
	text-decoration: underline;
}
#software-h2 {
	padding: 15px 0px;
	text-align: center;
	font-weight: bold;
}
#software-ul {
    padding: 27px 88px;
    text-align: left;
}
#software-ul li{
    font-size: 1.5em;
    list-style: none;
    font-family: 'Orbitron';
    border-bottom: 2px solid #8BCB12;
    margin-bottom: 6px;
}
#software-ul a{
	color: #000;
}
#col-img-background{
	margin-left: 30px;
    margin-top: 40px;
	background: url('../img/separator-software-down.png') no-repeat;
	background-size: auto 100%;
}

/*** NEWS ***/
.article-date {
    font-family: Orbitron;
    font-size:0.75em;
    color: #cccccc;
    margin-bottom: 15px;
}
.white-background{background-color:white;}
article h2 {margin-bottom:5px;}
article head {height: 100%;}
article header h2:hover {color: #8bcb12;}
.older-news{
	margin-top: 40px;
    padding-bottom: 15px;
}
.older-news a{
	font-family: 'Orbitron';
	font-size: 1.2em;
	color: #6f6f6f;
}
.older-news i{ color: #000; margin-right: 20px; }

/*** RIGHT SIDEBAR ***/
.right-sidebar {
    border-left: 3px solid #8BCB12;
    position: fixed;
    padding-left:15px;
}
.right-sidebar h3 {
    color: #6F6F6F;
}
.right-sidebar ul {
	list-style: none;
	padding:0;
	margin:0;
}
.right-sidebar li {
	padding-left: 1em;
	text-indent: .5em;
	color: #8BCB12;
}
.right-sidebar li::before {
	content: "• ";
	color: #6F6F6F;
}

article p {
	text-align: justify;
}

/*** CONTACTS ***/
input,
textarea {border-radius: 0 !important;}
#logo_contacts {padding-top:55px;}
label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
}
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	font-family: SourceSansPro;
	line-height: 1.42857143;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px;
	line-height: normal;
}
input[type="checkbox"]:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.form-control:focus {
	border-color: #8bcb12;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(139, 203, 18, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(139, 203, 18, 0.6);
}
textarea.form-control {	height: 180px; }
.checkbox {
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}
.checkbox label {
	width: 90%;
	min-height: 20px;
	padding-left: 20px;
	margin-bottom: 0;
	font-weight: normal;
	cursor: pointer;
}
.input-group {
	font-family: SourceSansPro;
	margin-top: 17px;
}

/*** FOOTER ***/
footer {
	margin-top: 70px;
	height: auto;
	background-color: #8bcb12;
	color: #fff;
	display: block;
}
footer .left-footer {
	position: relative;
	text-align: center;
	padding-top: 12px;
}
footer .right-footer {
	position: relative;
	padding-bottom: 12px;
	text-align: center;
}
footer a { color: #fff; text-decoration: underline; }
footer a:hover { color:#ccc;}



/* Custom, iPhone Retina */ 
@media (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media (min-width : 480px) {

	/*** CONTACTS ***/
	.checkbox label {
		width: auto;
	}
}

/* Small Devices, Tablets */
@media (min-width : 768px) {
	
	/*** Header ***/
	#primary-nav ul li{
        width:  auto;
        padding: 0 5px;
    }
    #primary-nav ul a{
        padding: 0;
        margin: 0;
    }
    #primary-nav ul li ul{
        display: block;
    }
    .site-title {
        background-size: 275px 48px;
        width: 275px;
        height: 48px;
        margin-left: 0px;
    }
	/*** PROJECTS ***/
	.projects-wrapper .main-project-container {
		height: 180px;
	}
	.projects-wrapper .main-project-container h2 {
		position:absolute;
		font-size:3em;
	}
	.projects-wrapper .main-project-container h3 {
		position: absolute;
		font-size:1.875em;
		line-height: 23.09px;
	}
	.projects-wrapper .main-project-container:nth-child(even) h2{
		left: 40px;
		bottom:27px;
		text-align: left;
	}

	.projects-wrapper .main-project-container:nth-child(even) h3 {
		left: 40px;
		top: 30px;
		text-align: left;
	}

	.projects-wrapper .main-project-container:nth-child(odd) h2{
		right: 40px;
		bottom:27px;
		text-align: right;
	}

	.projects-wrapper .main-project-container:nth-child(odd) h3{
		right: 40px;
		top: 30px;
		text-align: right;
	}
	.projects-wrapper .main-project-container .container .col-md-12 { 
		height:180px;
		padding: 0;
	}

    #project-text-container { margin-top:30px; }
	
	/*** SOFTWARE ***/
	#software ul.tree-ul{
		padding: 0;
		padding-top: 30px;
	    width: 100%;
	    background: url('../img/vertical-arrow.png') top center;
	    background-repeat: no-repeat;
	    list-style: none;
	    background-size: auto 100%;
	}
	#software ul.tree-ul li{
		margin-right: 1px;
		display: block;
		position: relative;
		text-align: center;
		padding-top: 25px;
	}
	#software ul.tree-ul li:nth-child(n+2)::before{
		display: block;
		content:" ";
		height: 2px;
		background: #d2d2d2;
	    position: relative;
	    z-index: -99;
	    top:22px;
	}
	#software ul.tree-ul li.strange::before{
		top:60px;
	}
	#software ul.tree-ul li:nth-child(even){
		padding-right: 0;
	    width: 27.3333%;
	    transform: translateX(84%);
	}
	#software ul.tree-ul li:nth-child(odd){
		padding-left: 0;
		width: 27.3333%;
	    transform: translateX(184%);
	}
	#software ul.tree-ul li:first-child{
		width: 100%;
		text-align: center;
		transform: translateX(0);
	}
	#software ul.tree-ul li a{
		background-color: #fcfcfc;
		padding: 2px 12px;
	}
	#software-h2 {
		padding: 130px 88px;
		text-align: right;
		font-weight: bold;
	}
	#col-img-background{
		margin-left: 0;
	}
	

	/*** FOOTER ***/
	footer {
		height: 90px;
	}
	footer .left-footer {
		text-align: right;
		margin-top: 12px;
		padding-top: 0;
	}
	footer .right-footer {
		margin-top: 22px;
		border-left: 1px solid #000;
		text-align: left;
		padding-bottom: 0;
	}

}

/* Medium Devices, Desktops */
@media (min-width : 992px) {

	/*** Header ***/
	#primary-nav ul li{
        width:  auto;
        padding: 0 15px;
    }
	.container {
	    width: 960px;
	    padding-left: 10px;
	    padding-right: 10px;
	}
}

/* Large Devices, Wide Screens */
@media (min-width : 1200px) {
	.container {
	    width: 1170px;
	}
}