.navbar {
    position: relative;
    height: 101px;
}
.no-js .navbar-collapse:target {
    display: block;
    visibility: visible;
}
.no-js .navbar-collapse:target .navbar-nav {
    position: relative;
    z-index: 9998;
}
.no-js .navbar-collapse-close,
.navbar-collapse-close {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9997;
    background-color: rgba(255,255,255,0.5);
    font-size: 0px;
    color: transparent;
}
.no-js .navbar-collapse-close:focus {
    display: block;
    font-size: 24px;
    color: black;
    background-color: rgba(100,100,255,0.25);
    z-index: 9999;
    padding: 100px;
    text-align: center;
    text-decoration: none;
}
.no-js .navbar-collapse:target .navbar-collapse-close {
    display: block;
}

.site-title {
    display: block;
    background: url("../img/logo-clp-lab.png") center left no-repeat;
    background-size: 275px 48px;
    width: 275px;
    height: 48px;
    text-indent: -9999px;
}

.navbar-collapse li {height: 101px;}



