body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Times New Roman", serif !important;
    font-style: normal !important;
}
#navbar-collapse, footer{
	display: none;
}

body {margin: 2cm 2cm;}
/*header {
    display: none;
}*/
header::before {
    display: block;
    content: " ";
    background: url("../img/logo-clp-lab.png") center left no-repeat;
    background-size: 240px 42px;
    width: 240px;
    height: 42px;
    margin-left: 10px;
}
.breadcrumbs {display: none;}

/** HOME */
.riquadri-home {
    display: none;
}

/* MEMBERS */

