/********

- Fonts
- General
- Header
- Home
- News
- Right Sidebar
- Members
- Footer

********/


/*** FONTS ***/
@font-face {
    font-family: Orbitron;
    src: url("../fonts/Orbitron/Orbitron-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: Orbitron;
    src: url("../fonts/Orbitron/Orbitron-Regular.ttf");
}
@font-face {
    font-family: "SourceSansPro";
    src: url("../fonts/SourceSansPro/SourceSansPro-Regular.ttf");
}
@font-face {
    font-family: "SourceSansPro";
    font-style: italic;
  	font-weight: 600;
    src: url("../fonts/SourceSansPro/SourceSansPro-SemiboldItalic.ttf");
}


/*** GENERAL ***/
body {
	background-color:#fcfcfc;
	font-family: "SourceSansPro";
	color:#6F6F6F;
    font-size:14px;
}
.float-right {float: right;}
.clear-both {clear: both;}

a{ color:#8BCB12; }
a:hover{
	color:#8BCB12;
	text-decoration: underline;
}
.no-display{ display: none;}

ul.no-style-ul , ul.no-style-ul li{
	list-style: none;
	margin: 0;
}
ul.no-style-ul{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
ul.green {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.green li{
	padding-left: 1em;
	text-indent: .5em;
}
ul.green li::before{
	content: "• ";
	color: #8BCB12;
	padding-right: .5em;
}
h1, h2, h3, h4, h5, h6 {
	color: black;
	font-family: Orbitron;
	font-weight: bold;
}
h1 {font-size: 2em;}
h2 {font-size:1.7em;}
h3 {font-size:1.17em;}
h4 {font-size:.97em;}
h5 {font-size:.83em;}
h6 {font-size:.67em;}
.button {
    display: inline-block;
    font-size: 1.12em;
    color: white;
    background: #8BCB12;
    padding: 10px 18px 10px 18px;
    text-align: center;
    text-decoration: none;
    margin:8px 0 8px 0;
    transition: background .5s;
	border: 0px;
}

.button:hover {
    color: #8BCB12;
    background: #E1FFA9;
    text-decoration: none;
}

.img-medium {
    width: 50%;
    height: 50%;
}
figure.right{
	float: right;
}
img{
	max-width: 100%;
}

/*** HEADER ***/
body > header{
	height: 101px;
	z-index: 999;
}
header nav.container{
	padding: 0;
	height: 101px;
	padding-top: 26px;
}
.navbar {
    position: relative;
    height: 101px;
}
.no-js .navbar-collapse:target {
    display: block;
    visibility: visible;
}
.no-js .navbar-collapse:target .navbar-nav {
    position: relative;
    z-index: 9998;
}
.no-js .navbar-collapse-close,
.navbar-collapse-close {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9997;
    background-color: rgba(255,255,255,0.5);
    font-size: 0px;
    color: transparent;
}
.no-js .navbar-collapse-close:focus {
    display: block;
    font-size: 24px;
    color: black;
    background-color: rgba(100,100,255,0.25);
    z-index: 9999;
    padding: 100px;
    text-align: center;
    text-decoration: none;
}
.no-js .navbar-collapse:target .navbar-collapse-close {
    display: block;
}
#primary-nav{
    padding: 26.5px 0;
}
#primary-nav #navbar-collapse{
    padding: 8px 0;
}
#primary-nav ul li{
    display: block;
    width: 100%;
    text-align: center;
}

#primary-nav ul li ul{
    display: none;
}
.container>.navbar-header{
    margin: 0;
}
.site-title{
    font-size: 0;
    margin: 0;
    float: left;
}
.site-title {
    background: url("../img/logo-clp-lab.png") center left no-repeat;
    background-size: 240px 42px;
    width: 240px;
    height: 42px;
    margin-left: 10px;
}
@media (min-width: 768px){
    #primary-nav ul li{
        width:  auto;
        padding: 12px 0;
    }
    #primary-nav ul a{
        padding: 0;
        margin: 0;
    }
    #primary-nav ul li ul{
        display: block;
    }
    .site-title {
        background-size: 275px 48px;
        width: 275px;
        height: 48px;
        margin-left: 0px;
    }
}
#primary-nav{
    padding: 26.5px 0;
}
#primary-nav #navbar-collapse{
    padding: 8px 0;
}
#primary-nav ul li{
    display: block;
    width: 100%;
    text-align: center;
}

#primary-nav ul li ul{
    display: none;
}
.container>.navbar-header{
    margin: 0;
}
.site-title{
    font-size: 0;
    margin: 0;
    float: left;
}
.site-title {
    background: url("../img/logo-clp-lab.png") center left no-repeat;
    background-size: 240px 42px;
    width: 240px;
    height: 42px;
    margin-left: 10px;
}
@media (min-width: 768px){
    #primary-nav ul li{
        width:  auto;
        padding: 12px 0;
    }
    #primary-nav ul a{
        padding: 0;
        margin: 0;
    }
    #primary-nav ul li ul{
        display: block;
    }
    .site-title {
        background-size: 275px 48px;
        width: 275px;
        height: 48px;
        margin-left: 0px;
    }
}
#primary-nav ul {
	list-style:none;
	position:relative;
	float:right;
	margin:0;
	padding:0;
	z-index:9999;
}
#primary-nav ul a {
	display:block;
	color:#333;
	text-decoration:none;
	font-size:17px;
	line-height:32px;
	transition: box-shadow .5s;
}
#primary-nav ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0;
	padding:0 5px;
}
#primary-nav ul li:first-child{
	padding-left: 0;
}
#primary-nav ul li:last-child{
	padding-right: 0;
}
/*#primary-nav ul li.current-menu-item {
	background:#f6f6f6;
	box-shadow: inset 0px -2px 0px 0px #8BCB12;
}*/
#primary-nav li > a:after { 
	font-family: FontAwesome; 
	color: #6f6f6f;
	margin-left: 3px; 
	content: '\f107'; 
}
#primary-nav li > a:only-child:after { margin-left: 0; content: ''; }
#primary-nav  ul li.current-menu-item > a {
	box-shadow: inset 0px -2px 0px 0px #8BCB12;
}
#primary-nav ul a:hover {
	box-shadow: inset 0px -2px 0px 0px #8BCB12;
}

#primary-nav ul ul {
	visibility: hidden;
	opacity: 0;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0;
	transition: opacity .3s linear;
	box-shadow: 4px 4px 10px -7px #777;
}
#primary-nav ul ul li {
	text-align: left;
	float:none;
	padding: 0px;
	width:200px;
}
#primary-nav ul ul a {
	line-height:120%;
	padding:10px 15px;
}
#primary-nav ul ul ul {
	top:0;
	left:100%;
}
#primary-nav ul li:hover > ul {
	visibility: visible;
  	opacity: 1;
}
.navbar-default{
	background-color: #fcfcfc;
	border: none;
	margin-bottom: 0;
}

/*** BREADCRUMBS NAV ***/
.breadcrumbs{
	text-align: left;
	height: 50px;
	background: url('../img/gray-texture.jpg') repeat-x;
    line-height: 50px;
    margin-bottom: 30px;
}
.breadcrumbs span{
	padding-left: 12px;
	padding-right: 12px;
}
.breadcrumbs a{
	color: #6f6f6f;
}
.breadcrumbs :first-child{
	padding-left: 0;
}
.breadcrumbs span:last-of-type{
	color: #8BCB12;
}

/*** HOME ***/
.riquadri-home{
	height: 600px;
	display: block;
}
.riquadri-home li{
	background-color: #f2f2f2;
	border-left: 1px solid #fcfcfc;
	border-bottom: 1px solid #fcfcfc;
	text-align: center;
	height: 600px;
}
.riquadri-home div:first-child{
	border: none;
}
section.riquadri-home{
	height: 600px;
}
section.mission {
	padding-top: 88px;
}
.scroll-down{
	text-align: center;
	margin: -32px auto;
	display: block;
	position: relative; 
}
.scroll-down a{
	background: url("../img/scroll-down.png") center no-repeat #fff;
	height: 64px;
	width: 64px;
	display: block;
	border-radius: 999px;
	text-align: center;
	margin: auto auto;
	z-index: 999999999;
	position: relative; 
	transition: background-position .5s;
}
.scroll-down a:hover{
	background-position: center 20px;
}
.riquadri-home li{
	overflow: hidden;
}
.riquadri-home li a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 30px;
    color: #6f6f6f;
    font-family: Orbitron;
}
.riquadri-home .writing{
	position: relative;
	top: 285px;
}
.divider {
	width: 50%;
	border-bottom: 1px solid #6f6f6f;
	margin: auto;
	padding-top: 8px;
}
.riquadri-home a:hover .divider {display: none;}
.riquadri-home a:hover .writing span {
	color: #8BCB12;
}
.riquadri-home a:hover {
	text-decoration: none;
}
.riquadri-home .animazione{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
@keyframes rotate{
	0%{
		transform: rotate(0deg) scale(1);
	}
	50%{
		transform: rotate(180deg) scale(0.8);
	}
	100%{
		transform: rotate(360deg) scale(1);
	}
}

svg#gfx-lines .gfx-arrowline:nth-of-type(1){
	animation: rotate 20s linear infinite;
}
svg#gfx-lines .gfx-arrowline:nth-of-type(2){
	animation: rotate 40s linear infinite;
}
svg#gfx-lines .gfx-arrowline:nth-of-type(3){
	animation: rotate 60s linear infinite;
}
svg#gfx-lines .gfx-arrowline:nth-of-type(4){
	animation: rotate 80s linear infinite;
}
svg#gfx-lines .gfx-arrowline:nth-of-type(5){
	animation: rotate 100s linear infinite;
}
svg#gfx-lines .gfx-arrowline:nth-of-type(5){
	animation: rotate 140s linear infinite;
}
svg#gfx-lines .gfx-arrowline{
    animation-play-state: running !important;
}
.riquadri-home #gfx-lines line, .riquadri-home #gfx-lines polygon, .gfx-arrowline, #rhombus-gfx-circles circle{
	transform-origin: 525px 280px;
}
.riquadri-home #gfx-lines line{
	fill:none;
	stroke:#8bcb12;
	stroke-miterlimit:10;
}
.riquadri-home #gfx-lines polygon{
	fill:#8bcb12;
}
.riquadri-home #gfx-circle, .riquadri-home #gfx-lines{
	transform: scale(0);
	transition: all .5s ease;
}
.riquadri-home a:hover #gfx-circle, .riquadri-home a:hover #gfx-lines{
	transform: scale(1);
}

@keyframes swing{
	0%{
		transform: rotate(-1deg) scale(1);
	}
	50%{
		transform: rotate(1deg) scale(0.80);
	}
	100%{
		transform: rotate(-1deg) scale(1);
	}
}
#triangle-gfx-lines line:nth-of-type(1){
	animation: swing 11s ease infinite;

}
#triangle-gfx-lines line:nth-of-type(2){
	animation: swing 13s ease infinite;

}
#triangle-gfx-lines line:nth-of-type(3){
	animation: swing 22s ease infinite;

}
#triangle-gfx-lines line:nth-of-type(4){
	animation: swing 15s ease infinite;

}
#triangle-gfx-lines line:nth-of-type(5){
	animation: swing 10s ease infinite;

}
#triangle-gfx-lines line:nth-of-type(6){
	animation: swing 4s ease infinite;

}
#triangle-gfx-lines line:nth-of-type(7){
	animation: swing 6s ease infinite;

}
#triangle-gfx-lines line:nth-of-type(8){
	animation: swing 2s ease infinite;

}
#triangle-gfx-lines line{
	fill:none;
	stroke:#8bcb12; 
	stroke-miterlimit:10; 
	transform-origin: 527px 361.778px;
}
#triangle-gfx-lines{
    animation-play-state: running !important;
}
.riquadri-home #gfx-triangle{
	transition: transform .5s ease;
	transform: rotate(-180deg) scale(0);
}
.riquadri-home a:hover #gfx-triangle{
	transform:  rotate(0deg) scale(1);
}
.riquadri-home #triangle-gfx-lines{
	transition: transform .5s ease;
	transform: scale(0);
}
.riquadri-home a:hover #triangle-gfx-lines{
	transform: scale(1);
}

@keyframes zoom{
	0%{
		transform: scale(.6);
	}
	25%{
		transform: scale(1.5);
	}
	50%{
		transform: scale(0.8);
	}
	75%{
		transform: scale(1.7);
	}
	100%{
		transform: scale(.6);
	}
}
#rhombus-gfx-circles circle:nth-of-type(1){
	animation: zoom 35s ease infinite;
}
#rhombus-gfx-circles circle:nth-of-type(2){
	animation: zoom 14s ease infinite;
}
#rhombus-gfx-circles circle:nth-of-type(3){
	animation: zoom 8s ease infinite;
}
#rhombus-gfx-circles circle:nth-of-type(4){
	animation: zoom 36s ease infinite;
}
#rhombus-gfx-circles circle:nth-of-type(5){
	animation: zoom 22s ease infinite;
}
.riquadri-home #rhombus-gfx-circles circle{
	stroke:#8bcb12; 
	fill-opacity:0;
}
.riquadri-home #gfx-rhombus{
	transition: transform .5s ease;
	transform: rotate(360deg) scale(0);
}
.riquadri-home a:hover #gfx-rhombus{
	transform: rotate(0deg) scale(1);
}




/*** EVENTS ***/
#events .upcoming-events{
	margin-top: 50px;
}
#events figure img{
	width: 100%;
}
#events h2{
	text-align: center;
}
#events h3{
	margin-bottom: 0px;
}
#events h3 a{
	font-family: SourceSansPro;
	font-weight: 600;
	font-style: italic;
	color:#000;
	font-size: 1.5em;
	transition: all .2s ease;
}
#events h3 a:hover{
	color:#8bcb12;
	text-decoration: none;
}
#events article{
    padding: 5px 0;
}
#events article .event-details{
    margin-top: -7px;	
	font-size: 1.071em;
	font-weight: 600;
	font-style: italic;
	color: #6f6f6f;
}
#events article p{
	color: #c6c6c6;
    margin-top: 0px;
}




