/********

- Fonts
- General
- Header
- Home
- News
- Right Sidebar
- Members
- Footer

********/


/**é FONTS ***/
@font-face {
    font-family: Orbitron;
    src: url("../fonts/Orbitron/Orbitron-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: Orbitron;
    src: url("../fonts/Orbitron/Orbitron-Regular.ttf");
}
@font-face {
    font-family: "SourceSansPro";
    src: url("../fonts/SourceSansPro/SourceSansPro-Regular.ttf");
}
@font-face {
    font-family: "SourceSansPro";
    font-style: italic;
  	font-weight: 600;
    src: url("../fonts/SourceSansPro/SourceSansPro-SemiboldItalic.ttf");
}

/*** GENERAL ***/

body {
	background-color:#fcfcfc;
	font-family: "SourceSansPro";
	color:#6F6F6F;
    font-size:14px;
}
a{ color:#8BCB12; }
a:hover{
	color:#8BCB12;
	text-decoration: underline;
}
.no-display{ display: none;}
h1.site-title{
	font-size: 0;
	margin: 0;
	float: left;
}
h1.site-title a {
    display: block;
    background: url("../img/logo-clp-lab.png") center left no-repeat;
    background-size: 275px 48px;
    width: 275px;
    height: 48px;
    text-indent: -9999px;
}
ul.no-style-ul , ul.no-style-ul li{
	list-style: none;
	margin: 0;
}
ul.no-style-ul{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
h1, h2, h3, h4, h5, h6 {
	color: black;
	font-family: Orbitron;
	font-weight: bold;
}
h1 {font-size: 2em;}
h2 {font-size:1.5em;}
h3 {font-size:1.17em;}
h4 {font-size:.97em;}
h5 {font-size:.83em;}
h6 {font-size:.67em;}
.button {
    display: inline-block;
    font-size: 1.12em;
    color: white;
    background: #8BCB12;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    margin:8px 0px 8px 0px;
    transition: background .5s;
}

.button:hover {
    color: #8BCB12;
    background: #E1FFA9;
    text-decoration: none;
}

.img-medium {
    width: 50%;
    height: 50%;
}
figure.right{
	float: right;
}

/*** HEADER ***/

body > header{
	height: 101px;
	z-index: 999;
}
header nav{
	height: 101px;
	padding-top: 26px;
}
#primary-nav ul {
	list-style:none;
	position:relative;
	float:right;
	margin:0;
	padding:0;
	z-index:9999;
}
#primary-nav ul a {
	display:block;
	color:#333;
	text-decoration:none;
	font-size:17px;
	line-height:32px;
	padding:0 15px;
}
#primary-nav ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0
}
#primary-nav ul li.current-menu-item {
	background:#f6f6f6;
	border-bottom:3px solid #8BCB12;
	border-bottom-color:#8BCB12;
}
#primary-nav ul li:hover {
	border-bottom:3px solid #8BCB12;
	border-bottom-color:#8BCB12;
}
#primary-nav ul ul {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}
#primary-nav ul ul li {
	float:none;
	width:200px
}
#primary-nav ul ul a {
	line-height:120%;
	padding:10px 15px
}
#primary-nav ul ul ul {
	top:0;
	left:100%
}
#primary-nav ul li:hover > ul {
	display:block
}

/*** HOME ***/
.riquadri-home{
	height: 600px;
	display: block;
}
.riquadri-home li{
	background-color: #f2f2f2;
	border-left: 1px solid #fcfcfc;
	border-bottom: 1px solid #fcfcfc;
	text-align: center;
	height: 600px;
}
.riquadri-home div:nth-first-child{
	border: none;
}
section.riquadri-home{
	height: 600px;
}
section.mission {
	padding-top: 88px;
}
.scroll-down{
	text-align: center;
	margin: -32px auto;
	display: block;
	position: relative; 
}
.scroll-down a{
	background: url("../img/scroll-down.png") center no-repeat #fff;
	height: 64px;
	width: 64px;
	display: block;
	border-radius: 999px;
	text-align: center;
	margin: auto auto;
	z-index: 999999999;
	position: relative; 
	transition: background-position .5s;
}
.scroll-down a:hover{
	background-position: center 20px;
}
.riquadri-home a{
	font-size: 30px;
    color: #6f6f6f;
    font-family: Orbitron;
}
.riquadri-home .writing{
	margin-top: 285px;
}
/*** NEWS ***/
.article {
    /**padding-top: 15px;*/
}
.article-date {
    font-family: Orbitron;
    font-size:0.75em;
    color: #cccccc;
    margin-bottom: 15px;
}
.white-background{background-color:white;}

article h2 {margin-bottom:5px;}

article head {height: 100%;}

/*** RIGHT SIDEBAR ***/
.right-sidebar {
    border-left: 3px solid #8BCB12;
    /**margin-top: 115px;*/
    position: fixed;
    padding-left:15px;
}

.right-sidebar h3 {
    color: #6F6F6F;
}
.right-sidebar ul {
	list-style: none;
	padding:0;
	margin:0;
}

.right-sidebar li {
	padding-left: 1em;
	text-indent: .5em;
}
.right-sidebar li {
	color: #8BCB12;
}
.right-sidebar li:before {
	content: "• ";
	color: #6F6F6F;
}

/*** MEMBERS ***/
.member-card{
	margin: auto;
	width: 228px;
	height: 245px;
	background-color: #fcfcfc;
	text-align: center;
	box-shadow: 5px 5px 10px #B7B7B7, inset 0px 0px 0px 2px #8bcb12;
    margin-top: 53px;
    margin-bottom: 20px;
}
.member-card figure{
	position: relative;
	top: -85px;
}
.member-card img{
	border-radius: 100%;
	margin: 0 auto;
    box-shadow: 0px 0px 10px #B7B7B7;
}
.member-card h3{
	font-family: "SourceSansPro";
	font-weight: 600;
	font-style: italic;
	position: relative;
	top: 168px;
}
/*** FOOTER ***/
footer{
	margin-top: 70px;
	height: 90px;
	background-color: #8bcb12;
	color: #fff;
	display: block;
}
footer .left-footer{
	position: relative;
	text-align: right;
	margin-top: 12px;
}
footer .right-footer{
	position: relative;
	margin-top: 22px;
	border-left: 1px solid #000;
}
footer a{ color: #fff; text-decoration: underline; }
footer a:hover{ color:#ccc;}
