/********

- Fonts
- General
- Header
- Home
- News
- Right Sidebar
- Members
- Footer

********/


/*** FONTS ***/
@font-face {
    font-family: Orbitron;
    src: url("../fonts/Orbitron/Orbitron-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: Orbitron;
    src: url("../fonts/Orbitron/Orbitron-Regular.ttf");
}
@font-face {
    font-family: "SourceSansPro";
    src: url("../fonts/SourceSansPro/SourceSansPro-Regular.ttf");
}
@font-face {
    font-family: "SourceSansPro";
    font-style: italic;
  	font-weight: 600;
    src: url("../fonts/SourceSansPro/SourceSansPro-SemiboldItalic.ttf");
}


/*** GENERAL ***/
body {
	background-color:#fcfcfc;
	font-family: "SourceSansPro";
	color:#6F6F6F;
    font-size:14px;
}
.float-right {float: right;}
.clear-both {clear: both;}
@media (min-width: 992px){
	.container {
	    width: 960px;
	    padding-left: 10px;
	    padding-right: 10px;
	}
}
a{ color:#8BCB12; }
a:hover{
	color:#8BCB12;
	text-decoration: underline;
}
.no-display{ display: none;}
h1.site-title{
	font-size: 0;
	margin: 0;
	float: left;
}
h1.site-title a {
    display: block;
    background: url("../img/logo-clp-lab.png") center left no-repeat;
    background-size: 275px 48px;
    width: 275px;
    height: 48px;
    text-indent: -9999px;
}
ul.no-style-ul , ul.no-style-ul li{
	list-style: none;
	margin: 0;
}
ul.no-style-ul{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
ul.green {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.green li{
	padding-left: 1em;
	text-indent: .5em;
}
ul.green li::before{
	content: "• ";
	color: #8BCB12;
	padding-right: .5em;
}
h1, h2, h3, h4, h5, h6 {
	color: black;
	font-family: Orbitron;
	font-weight: bold;
}
h1 {font-size: 2em;}
h2 {font-size:1.7em;}
h3 {font-size:1.17em;}
h4 {font-size:.97em;}
h5 {font-size:.83em;}
h6 {font-size:.67em;}
.button {
    display: inline-block;
    font-size: 1.12em;
    color: white;
    background: #8BCB12;
    padding: 10px 18px 10px 18px;
    text-align: center;
    text-decoration: none;
    margin:8px 0 8px 0;
    transition: background .5s;
	border: 0px;
}

.button:hover {
    color: #8BCB12;
    background: #E1FFA9;
    text-decoration: none;
}

.img-medium {
    width: 50%;
    height: 50%;
}
figure.right{
	float: right;
}
img{
	max-width: 100%;
}

/*** HEADER ***/
body > header{
	height: 101px;
	z-index: 999;
}
header nav.container{
	padding: 0;
	height: 101px;
	padding-top: 26px;
}
#primary-nav ul {
	list-style:none;
	position:relative;
	float:right;
	margin:0;
	padding:0;
	z-index:9999;
}
#primary-nav ul a {
	display:block;
	color:#333;
	text-decoration:none;
	font-size:17px;
	line-height:32px;
	transition: box-shadow .5s;
}
#primary-nav ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0;
	padding:0 10px;
}
#primary-nav ul li:last-child{
	padding-right: 0;
}
/*#primary-nav ul li.current-menu-item {
	background:#f6f6f6;
	box-shadow: inset 0px -2px 0px 0px #8BCB12;
}*/
#primary-nav li > a:after { 
	font-family: FontAwesome; 
	color: #6f6f6f;
	margin-left: 3px; 
	content: '\f107'; 
}
#primary-nav li > a:only-child:after { margin-left: 0; content: ''; }
#primary-nav  ul li.current-menu-item > a {
	box-shadow: inset 0px -2px 0px 0px #8BCB12;
}
#primary-nav ul a:hover {
	box-shadow: inset 0px -2px 0px 0px #8BCB12;
}

#primary-nav ul ul {
	visibility: hidden;
	opacity: 0;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0;
	transition: opacity .3s linear;
	box-shadow: 4px 4px 10px -7px #777;
}
#primary-nav ul ul li {
	float:none;
	padding: 0px;
	width:200px;
}
#primary-nav ul ul a {
	line-height:120%;
	padding:10px 15px;
}
#primary-nav ul ul ul {
	top:0;
	left:100%;
}
#primary-nav ul li:hover > ul {
	visibility: visible;
  	opacity: 1;
}
/*** BREADCRUMBS NAV ***/
.breadcrumbs{
	text-align: left;
	height: 50px;
	background: url('../img/gray-texture.jpg') repeat-x;
    line-height: 50px;
    margin-bottom: 30px;
}
.breadcrumbs span{
	padding-left: 12px;
	padding-right: 12px;
}
.breadcrumbs a{
	color: #6f6f6f;
}
.breadcrumbs :first-child{
	padding-left: 0;
}
.breadcrumbs span:last-of-type{
	color: #8BCB12;
}

/*** HOME ***/
.riquadri-home{
	height: 600px;
	display: block;
}
.riquadri-home li{
	background-color: #f2f2f2;
	border-left: 1px solid #fcfcfc;
	border-bottom: 1px solid #fcfcfc;
	text-align: center;
	height: 600px;
}
.riquadri-home div:first-child{
	border: none;
}
section.riquadri-home{
	height: 600px;
}
section.mission {
	padding-top: 88px;
}
.scroll-down{
	text-align: center;
	margin: -32px auto;
	display: block;
	position: relative; 
}
.scroll-down a{
	background: url("../img/scroll-down.png") center no-repeat #fff;
	height: 64px;
	width: 64px;
	display: block;
	border-radius: 999px;
	text-align: center;
	margin: auto auto;
	z-index: 999999999;
	position: relative; 
	transition: background-position .5s;
}
.scroll-down a:hover{
	background-position: center 20px;
}
.riquadri-home li{
	overflow: hidden;
}
.riquadri-home a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 30px;
    color: #6f6f6f;
    font-family: Orbitron;
}
.riquadri-home .writing{
	position: relative;
	top: 285px;
}

.divider {
	width: 50%;
	border-bottom: 1px solid #6f6f6f;
	margin: auto;
	padding-top: 8px;
}

.riquadri-home a:hover .divider {display: none;}

.riquadri-home a:hover .writing span {
	color: #8BCB12;
}

.riquadri-home a:hover {
	text-decoration: none;
}
.riquadri-home .animazione{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
@keyframes rotate{
	0%{
		transform: rotate(0deg) scale(1);
	}
	50%{
		transform: rotate(180deg) scale(0.8);
	}
	100%{
		transform: rotate(360deg) scale(1);
	}
}

svg#gfx-lines .gfx-arrowline:nth-of-type(1){
	animation: rotate 20s linear infinite;
}
svg#gfx-lines .gfx-arrowline:nth-of-type(2){
	animation: rotate 40s linear infinite;
}
svg#gfx-lines .gfx-arrowline:nth-of-type(3){
	animation: rotate 60s linear infinite;
}
svg#gfx-lines .gfx-arrowline:nth-of-type(4){
	animation: rotate 80s linear infinite;
}
svg#gfx-lines .gfx-arrowline:nth-of-type(5){
	animation: rotate 100s linear infinite;
}
svg#gfx-lines .gfx-arrowline:nth-of-type(5){
	animation: rotate 140s linear infinite;
}
svg#gfx-lines .gfx-arrowline{
    animation-play-state: running !important;
}
.riquadri-home #gfx-lines line, .riquadri-home #gfx-lines polygon, .gfx-arrowline, #rhombus-gfx-circles circle{
	transform-origin: 525px 280px;
}
.riquadri-home #gfx-lines line{
	fill:none;
	stroke:#8bcb12;
	stroke-miterlimit:10;
}
.riquadri-home #gfx-lines polygon{
	fill:#8bcb12;
}
.riquadri-home #gfx-circle, .riquadri-home #gfx-lines{
	transform: scale(0);
	transition: all .5s ease;
}
.riquadri-home a:hover #gfx-circle, .riquadri-home a:hover #gfx-lines{
	transform: scale(1);
}

@keyframes swing{
	0%{
		transform: rotate(-1deg) scale(1);
	}
	50%{
		transform: rotate(1deg) scale(0.80);
	}
	100%{
		transform: rotate(-1deg) scale(1);
	}
}
#triangle-gfx-lines line:nth-of-type(1){
	animation: swing 11s ease infinite;

}
#triangle-gfx-lines line:nth-of-type(2){
	animation: swing 13s ease infinite;

}
#triangle-gfx-lines line:nth-of-type(3){
	animation: swing 22s ease infinite;

}
#triangle-gfx-lines line:nth-of-type(4){
	animation: swing 15s ease infinite;

}
#triangle-gfx-lines line:nth-of-type(5){
	animation: swing 10s ease infinite;

}
#triangle-gfx-lines line:nth-of-type(6){
	animation: swing 4s ease infinite;

}
#triangle-gfx-lines line:nth-of-type(7){
	animation: swing 6s ease infinite;

}
#triangle-gfx-lines line:nth-of-type(8){
	animation: swing 2s ease infinite;

}
#triangle-gfx-lines line{
	fill:none;
	stroke:#8bcb12; 
	stroke-miterlimit:10; 
	transform-origin: 527px 361.778px;
}
#triangle-gfx-lines{
    animation-play-state: running !important;
}
.riquadri-home #gfx-triangle{
	transition: transform .5s ease;
	transform: rotate(-180deg) scale(0);
}
.riquadri-home a:hover #gfx-triangle{
	transform:  rotate(0deg) scale(1);
}
.riquadri-home #triangle-gfx-lines{
	transition: transform .5s ease;
	transform: scale(0);
}
.riquadri-home a:hover #triangle-gfx-lines{
	transform: scale(1);
}

@keyframes zoom{
	0%{
		transform: scale(.6);
	}
	25%{
		transform: scale(1.5);
	}
	50%{
		transform: scale(0.8);
	}
	75%{
		transform: scale(1.7);
	}
	100%{
		transform: scale(.6);
	}
}
#rhombus-gfx-circles circle:nth-of-type(1){
	animation: zoom 35s ease infinite;
}
#rhombus-gfx-circles circle:nth-of-type(2){
	animation: zoom 14s ease infinite;
}
#rhombus-gfx-circles circle:nth-of-type(3){
	animation: zoom 8s ease infinite;
}
#rhombus-gfx-circles circle:nth-of-type(4){
	animation: zoom 36s ease infinite;
}
#rhombus-gfx-circles circle:nth-of-type(5){
	animation: zoom 22s ease infinite;
}
.riquadri-home #rhombus-gfx-circles circle{
	stroke:#8bcb12; 
	fill-opacity:0;
}
.riquadri-home #gfx-rhombus{
	transition: transform .5s ease;
	transform: rotate(360deg) scale(0);
}
.riquadri-home a:hover #gfx-rhombus{
	transform: rotate(0deg) scale(1);
}
/*** NEWS ***/
.article {
    /**padding-top: 15px;*/
}
.article-date {
    font-family: Orbitron;
    font-size:0.75em;
    color: #cccccc;
    margin-bottom: 15px;
}
.white-background{background-color:white;}

article h2 {margin-bottom:5px;}

article head {height: 100%;}

/*** RIGHT SIDEBAR ***/
.right-sidebar {
    border-left: 3px solid #8BCB12;
    position: fixed;
    padding-left:15px;
}

.right-sidebar h3 {
    color: #6F6F6F;
}
.right-sidebar ul {
	list-style: none;
	padding:0;
	margin:0;
}

.right-sidebar li {
	padding-left: 1em;
	text-indent: .5em;
	color: #8BCB12;
}

.right-sidebar li::before {
	content: "• ";
	color: #6F6F6F;
}

/*** MEMBERS ***/
.member-card{
	margin: auto;
	width: 228px;
	height: 245px;
	background-color: #fcfcfc;
	text-align: center;
	box-shadow: 5px 5px 10px #B7B7B7, inset 0px 0px 0px 2px #8bcb12;
    margin-top: 53px;
    margin-bottom: 20px;
}
.member-card figure{
	position: relative;
	top: -70px;
}
.member-card img{
	border-radius: 100%;
	margin: 0 auto;
    box-shadow: 0px 0px 10px #B7B7B7;
}
.member-card .shadow{
	box-shadow: inset 0 0 50px #1f1f1f;
 	position: absolute;
    width: 180px;
    margin: 0 24px;
    height: 100%;
    border-radius: 100%;
    top:0;
    left: 0;
    opacity: 0;
	transition: opacity .5s ease;
}
.member-card:hover .shadow{
	opacity: 1;
}
.member-card h3{
	font-size: 20px;
	font-family: "SourceSansPro";
	font-weight: 600;
	font-style: italic;
	position: relative;
	top: 160px;
	margin-top: 0px;
	margin-bottom: 5px;
	transition: font-style .5s ease;
}
.member-card:hover h3{
	font-style: normal;
}
.member-card .fa{
	transition: color .5s;
	font-size: 2.6em;
    margin: 0 4px;
}
.member-card .social-icons{
	top: -20px;
	position: relative;
}
.member-card .fa-twitter:hover { color:#55acee; }
.member-card .fa-facebook-official:hover { color:#3b5998; }
.member-card .fa-globe:hover{ color:#000; }
/*** EVENTS ***/
#events .upcoming-events{
	margin-top: 50px;
}
#events h2{
	text-align: center;
}
#events h3{
	margin-bottom: 0px;
}
#events h3 a{
	font-family: SourceSansPro;
	font-weight: 600;
	font-style: italic;
	color:#000;
	font-size: 1.5em;
	transition: all .2s ease;
}
#events h3 a:hover{
	color:#8bcb12;
	text-decoration: none;
}
#events article{
    padding: 5px 0;
}
#events article .event-details{
    margin-top: -7px;	
	font-size: 1.071em;
	font-weight: 600;
	font-style: italic;
	color: #6f6f6f;
}
#events article p{
	color: #c6c6c6;
    margin-top: 0px;
}
/*** FOOTER ***/
footer{
	margin-top: 70px;
	height: 90px;
	background-color: #8bcb12;
	color: #fff;
	display: block;
}
footer .left-footer{
	position: relative;
	text-align: right;
	margin-top: 12px;
}
footer .right-footer{
	position: relative;
	margin-top: 22px;
	border-left: 1px solid #000;
}
footer a{ color: #fff; text-decoration: underline; }
footer a:hover{ color:#ccc;}

/*** PROJECTS ***/
.projects-wrapper .main-project-container {
	display: block;
	position: relative;
	height: 180px;
	background-color:#56daec;
	border-bottom: 1px solid white;
	color: white;
}

.projects-wrapper .main-project-container h2 {
	font-family: Orbitron;
	font-weight: bold;
	color:white;
	margin:0;
	position:absolute;
	font-size:3em;
}

.projects-wrapper .main-project-container h3 {
	font-family: SourceSansPro;
	font-style: italic;
	font-weight: 600;
	color:#f4f4f4;
	margin:0;
	position: absolute;
	font-size:1.875em;
	line-height: 23.09px;
}

.projects-wrapper .main-project-container:nth-child(2) {background-color: #b4d8e7;}
.projects-wrapper .main-project-container:nth-child(3) {background-color: #b0e57c;}
.projects-wrapper .main-project-container:nth-child(4) {background-color: #ffec94;}
.projects-wrapper .main-project-container:nth-child(5) {background-color: #ff8a8a;}

.projects-wrapper .main-project-container:nth-child(even) h2{
	left: 40px;
	bottom:27px;
	text-align: left;
}

.projects-wrapper .main-project-container:nth-child(even) h3 {
	left: 40px;
	top: 30px;
	text-align: left;
}

.projects-wrapper .main-project-container:nth-child(odd) h2{
	right: 40px;
	bottom:27px;
	text-align: right;
}

.projects-wrapper .main-project-container:nth-child(odd) h3{
	right: 40px;
	top: 30px;
	text-align: right;
}

.projects-wrapper .main-project-container .container .col-md-12 {height:180px;}


/*** SOFTWARE ***/
#software .intro{
	font-size: 2em;
	color: #6f6f6f;
	text-align: center;
	font-family: Orbitron;
}

#software ul.tree-ul{
	padding: 0;
	padding-top: 30px;
    width: 100%;
    background: url('../img/vertical-arrow.png') top center;
    background-repeat: no-repeat;
    list-style: none;
    background-size: auto 100%;
}

#software ul.tree-ul li{
	margin-right: 1px;
	display: block;
	position: relative;
	text-align: center;
	padding-top: 25px;
}

#software ul.tree-ul li:nth-child(n+2)::before{
	display: block;
	content:" ";
	height: 2px;
	background: #d2d2d2;
    position: relative;
    z-index: -99;
    top:22px;
}
#software ul.tree-ul li.strange::before{
	top:60px;
}
#software ul.tree-ul li:nth-child(even){
	padding-right: 0;
    width: 27.3333%;
    transform: translateX(84%);
}
#software ul.tree-ul li:nth-child(odd){
	padding-left: 0;
	width: 27.3333%;
    transform: translateX(184%);
}
#software ul.tree-ul li:first-child{
	width: 100%;
	text-align: center;
	transform: translateX(0);
}
#software ul.tree-ul li:first-child a span{
	color: #6f6f6f;
}
#software ul.tree-ul li a{
	text-decoration: none;
	padding: 0 12px;
    font-size: 2.3em;
    font-weight: 600;
    color: #8BCB12;
    background-color: #fcfcfc;
    line-height: 1.2em;
}
#software ul.tree-ul li a span{
	text-shadow: 2px 2px 0px #CCCCCC;
	color: #000;
}
#software ul.tree-ul li a:hover{
	text-decoration: underline;
}


/** FORM **/
#logo_contacts {padding-top:55px;}
label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	font-family: SourceSansPro;
	line-height: 1.42857143;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9;
	line-height: normal;
}

input[type="checkbox"]:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.form-control:focus {
	border-color: #8bcb12;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(139, 203, 18, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(139, 203, 18, 0.6);
}

textarea.form-control {
	height: 180px;
}

.checkbox {
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

.checkbox label {
	min-height: 20px;
	padding-left: 20px;
	margin-bottom: 0;
	font-weight: normal;
	cursor: pointer;
}

.input-group {
	font-family: SourceSansPro;
	margin-top: 17px;
}

